html {
  font-family: Lora, serif;
}

.masthead {
  background-image: url("../images/leaf-bg.svg");
  border-top: 3px solid #2d5a4d;
  background-repeat: repeat;
  background-size: 64px auto;
  background-position: left center;
  background-color: #588477;
  color: #fff;
}

.logo {
  text-align: center;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  color: #fff;
  border: 3px solid #2d5a4d;
  background-image: linear-gradient(to bottom, #588477, #467366);
  border-radius: 8px;
}

.nav a:hover {
  background-image: url("../images/leaf-icon.svg");
  background-repeat: no-repeat;
  background-size: 50px auto;
  background-position: center;
  padding-left: .75em;
  color: rgba(16, 52, 41, .8);
  background-color: #fff;
}

.banner {
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-size: 800px 580px;
  background-position: center;
}

.banner-content {
  padding-top: 300px;
  color: #fff;
  border-top: 3px solid #2d5a4d;
  border-bottom: 3px solid #145b1d;
  position: relative;
  background-image: url("../images/two-leaves.svg");
  background-repeat: no-repeat;
  background-size: 100px auto;
  background-position: left center;
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
